<!DOCTYPE HTML>
<html>
	<head>
		<title>FAKEBOOK  ///  Daniel Vassilev</title>
		<link href="../static/css/fb-styles.css" rel="stylesheet">
		
	</head>
	<body>
		<div class="main">
			<div class="header">
				<div class="mitte">
					<img src="../static/img/fakebook.png">
				</div>
			</div>

			<div class="überschrifte">
					<h3>Das bin ich</h3>
			</div>

			<div class="profil">
				<div class="info col">
					<H2>Willkommen auf meiner Fakebook Seite!</H2>
					<p>Ich würde mich sehr freuen, wenn du mir auf Fakebook folgen könntest.</p>
					<p>Klicke einfach auf das "Folge mir"-Button unten.</p>
					<button class="follow">FOLGE MIR</button>
				</div>
				<div class="prof_pic col">
					<img src="../static/img/me_Roma.jpg" class="ich_pic">
				</div>
				<div class="info2 col">
					<p>Wie du siehst, ich reise gern.</p>
					<p>Es ist mir auch sehr wichtig, ständig Neues zu lernen...Genau deswegen, mache ich gerade einen Web Developement Kurs.</p>
					<p>Wenn du auch Interesse an Web Design and Programmieren hast, besuche die Smart Ninja-Seite</p>
					<a href="http://www.smartninja.org/"><img src="/static/img/logo.png"></a>
				</div>
			</div>	
		</div>	
	</body>
</html>